# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Downloads\2021-SSVV-EXAM\2021-TakeHomeExamB\ProjectTakeHomeExamB\TakeHomeExamB\TakeHomeExamB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
