<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="connectionString" value="Data Source = DESKTOP-JC39FI8\SQLEXPRESS; Initial Catalog=ClothingStore; Integrated Security=True"/>
    <add key="parentTable" value="Designer"/>
    <add key="childTable" value="Collection"/>
    <add key="relationName" value="FK__Collection__Did__398D8EEE"/>
    <add key="relationParentAttributeName" value="Did"/>
    <add key="relationChildAttributeName" value="Did"/>
    <add key="parentTable2" value="Client"/>
    <add key="childTable2" value="ClientOrders"/>
    <add key="relationName2" value="FK__ClientOrder__Cid__4D94879B"/>
    <add key="relationParentAttributeName2" value="Cid"/>
    <add key="relationChildAttributeName2" value="Cid"/>
    <add key="currentChildTable" value="Collection"/>
  </appSettings>
</configuration>